
@font-face {
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: local('Anta Regular'), local('Anta-Regular'),
       url(../public/fonts/Anta/Anta-Regular.ttf) format('ttf');
}
body {
  font-family: 'Anta', sans-serif;
  margin: 0px !important;
}
.MuiInputBase-input {
  padding: 4px !important;
  margin-top: 0px !important;
}

.MuiFormControl-root {
  margin-top: 5px !important;
}